@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
 
*{ 
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

/* Configurações gerais */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Spectral";
}

header {
    background-color: rgb(243, 147, 195);
    color: rgb(236, 48, 76);
    padding: 60px;
    text-align: center;
}

main {
    background-color: rgb(243, 193, 235);
    flex: 1;
    padding: 48px 38px;
    width: 100%;
}

about-section, hobbies {
    display: block;
    background-color: rgb(243, 238, 241);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
}

#titulo-sobre-mim {
    font-size: 25px;
    border-bottom: 2px solid rgb(235, 109, 228);
    margin-bottom: 5px;
}

.texto-sobre-mim {
    font-size: 25px;
}

hobbies {
    display: block;
    background-color: rgb(243, 238, 241);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
}

li {
    background-color: rgb(238, 167, 232);
    padding: 12px;
    border-left: 4px solid rgb(223, 92, 228);
    font-size: 16px;
    min-width: 250px;
}

li:hover {
    background-color: aliceblue;
    transform: translateX(5px);
    transition: all 0.3s ease;
}

#titulo-hobbies {
    font-size: 25px;
    border-bottom: 2px solid rgb(241, 143, 237);
    margin-bottom: 10px;
}
